parameters:
  level: 8
  paths:
    - src/
    - tests/

  excludePaths:
    analyse:
      - vendor/

  ignoreErrors:
    -
      identifier: missingType.iterableValue

    -
      message: '#^Method Liborm85\\LoggableHttpClient\\Body\\RequestBody\:\:getContent\(\) never returns null so it can be removed from the return type\.$#'
      identifier: return.unusedType
      count: 1
      path: src/Body/RequestBody.php

    -
      message: '#^Method Liborm85\\LoggableHttpClient\\Body\\RequestBody\:\:toStream\(\) never returns null so it can be removed from the return type\.$#'
      identifier: return.unusedType
      count: 1
      path: src/Body/RequestBody.php
